body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #F54927, #F5D327, #27F535, #27C2F5, #2735F5 100%);
    font-family: "Vend Sans", sans-serif;
    font-size: 16px;
    color: #4A3F3D;
    text-align: center;
    box-sizing: border-box;
    min-height: 10vh;
    padding: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    display: inline-block;
    opacity: 0.9;
    transform: translate(5px, 5px);
}
.page_header {
    width: 80%;
    margin: 0 auto;
}
.main_navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}
main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding:20px;
}
h1 {
    margin: 20px auto 40px;
    text-transform: uppercase;
}
.main-selection__container {
    margin-bottom: 40px;
}
label {
    margin-right: 10px;
}
select {
    padding: 8px 15px;
    border: 2px solid #dddddd;
    font-size: 1em;
    color: #4A3F3D;
}
select:hover {
    cursor: pointer;
    background-color: #FAFCFB;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
select:focus {
    border-color: #27C2F5;
}
.select-button {
    width: 300px;
    height: 70px;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 6px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 15px;
    border-color: #2735F5;
    background-image: linear-gradient(#27C2F5, #2735F5);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto 20px;
    cursor: pointer;
}
.select-button:hover {
    opacity: 0.8;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}
.select-button.red {
    background-image: linear-gradient(red,yellow);
}
.explanation {
    margin-top: 0;
    margin-bottom: 20px;
}
.loading {
    color:#27C2F5;
}
.error {
    color:purple;
}
.card img {
    width: 90%;
    
}
.card h2 {
    color:#4A3F3D;
    text-transform: uppercase;
}
